*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#root{
    background: linear-gradient(
        
        rgb(0, 158, 158) 10%,
        rgb(212, 212, 212) 10%
      );
    height: 100vh;
}

#main-box{
    height: 900px;
}
#side-bar, #chat-bar{
    height: 780px;
}
#contacts-list{
    height: 600px;
}
#chat-bar #chat{
    height: 640px;
    background-image: url('../assets_assegnazione/img/mine.jpg');
}
#user-chatting:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.img{
    height: 100%;
}


.bg-light-grey{
    background-color: rgb(230, 230, 230);
}
.bg-light-green{
    background-color: rgb(217, 255, 171);
}



/* FONT SIZES */

.font-xs{
    font-size: 0.8rem;
}

.h-40px{
    height: 40px;
}
.h-50px{
    min-height: 50px;
}
.h-70px{
    height: 70px;
}
.h-100px{
    height: 100px;
}

.w-230px{
    width: 230px;
}